

html{
    scroll-behavior: smooth;
}

body{
   
    font-family: 'Roboto', sans;

}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans;
}

.section-title h3{
    font-weight: bolder;
    margin-bottom: 0;
}

.hr-style{
    border: 5px dotted white;
    border-bottom: none;
    width: 50px;
}

/* header start  */
header{
    background-image: url("images/banner-photo.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

.navbar{
    padding: .01% ;
    background-color: rgba(0,0,0,0.3);
}

.navbar-icon{
    color: white;
}
.navbar-brand img{
    width: 50px;
    height: auto;
}
.nav-link{
    color: white;
    margin: 10px;
    border-radius: 5px;
    transition: .4s;
}
.nav-link:hover{
   background: #2980b9;
   color: white;
   transform: scale(1.1);
}

.banner-container{
    height: 100vh;
}

/* header ends  */

/* features starts */
#features{
    padding: 5% 10%;
    background: #e8ded2;
}

.features-col{
    border: 1px solid #410217;
    border-radius: 4px;
    padding: 15px;
    margin: 20px 0;
    transition: .4s;
}
.features-col:hover{
    transform: scale(1.1);
    box-shadow: 2px 6px 5px black;
}
.icon-style{
    background: #410217;
    color: white;
    padding: 15px;
    margin: 5px 0;
}
/* features end */

/* about-me starts */
#about-me{
    padding: 4% 10%;
    background: #e8ded2;
}

#about-me p{
    font-size: 0.9rem;
    margin-bottom: 0;
    font-weight: light;
}
#about-me a{
    font-size: 0.9rem;
    font-weight: lighter;
    color: black;
    text-decoration: underline;
}

.achieve-desc span{
    font-weight: 700 !important;
}

/* about-me ends */

/* footer starts  */
@font-face {
    font-family: Roboto;
    src: url("fonts/Roboto-Medium.ttf");
}
footer{
    padding: 1% 10%;
    background: #056676;
    font-family: 'Roboto';
    font-size: large;
}

footer a {
    color: white;
    margin: 0 10px;
}
footer a:hover{
    color: black;
}
/* footer ends */

@media (max-width:768px){
    .nav-link{
        background: rgb(0,0,0,0.7);
    }

    .banner-container h1{
        font-size: 2.5rem;
      
        
    }
    
}

/* Login page */
.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }

siz{
    width: 100%;
    min-height: 100vh;
}

