html{
    scroll-behavior: smooth;
}

body{
   
    font-family: 'Montserrat', sans-serif;

}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
}

.section-title h3{
    font-weight: bolder;
    margin-bottom: 0;
}

.hr-style{
    border: 5px dotted white;
    border-bottom: none;
    width: 50px;
}

/* header start  */
header{
    background-image: url("images/banner-photo.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

.navbar{
    padding: 1% 10%;
    background-color: rgba(0,0,0,0.3);
}

.navbar-icon{
    color: white;
}
.navbar-brand img{
    width: 60px;
    height: auto;
}
.nav-link{
    color: white;
    margin: 10px;
    border-radius: 5px;
    transition: .4s;
}
.nav-link:hover{
   background: #2980b9;
   color: white;
   transform: scale(1.1);
}

.banner-container{
    height: 100vh;
}

.banner-container h1{
    font-size: 1.5rem;
    background-color: rgba(209, 43, 209, 0.8);

    padding: 10px 20px;
     font-family: 'Roboto', sans-serif;
     border-radius: 5px;
    
}
/* header ends  */

/* features starts */
#features{
    padding: 5% 10%;
    background: #e8ded2;
}

.features-col{
    border: 1px solid #ff02c0;
    border-radius: 4px;
    padding: 15px;
    margin: 20px 0;
    transition: .4s;
}
.features-col:hover{
    transform: scale(1.1);
    box-shadow: 2px 6px 5px black;
}
.icon-style{
    background: #bb0aac;
    color: white;
    padding: 15px;
    margin: 5px 0;
}
/* features end */

/* about-me starts */
#about-me{
    padding: 4% 10%;
    background: #e8ded2;
}

#about-me p{
    font-size: 0.9rem;
    margin-bottom: 0;
    font-weight: light;
}
#about-me a{
    font-size: 0.9rem;
    font-weight: lighter;
    color: black;
    text-decoration: underline;
}

.achieve-desc span{
    font-weight: 700 !important;
}

/* about-me ends */

/* footer starts  */
footer{
    padding: 1% 10%;
    background: #056676;
}

footer a {
    color: white;
    margin: 0 10px;
}
footer a:hover{
    color: black;
}
/* footer ends */

@media (max-width:768px){
    .nav-link{
        background: rgb(0,0,0,0.7);
    }

    .banner-container h1{
        font-size: 2.5rem;
      
        
    }
    
}

/* Login page */
.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }








/* 
    our_team */
img.profile{
  object-fit: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  float:left
  }
  

.profile-div{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    z-index: 99%;
    text-align: center;
    margin-top:3%;
}
.td-img{

}
.td-text{
    text-align:left; padding-left: 20px; color: rgb(117, 4, 48); padding-top: 0%;
}